:root {
    --site-bg: #f3f1f0de;
}

#ZYDark:root {
    --site-bg: rgb(28 30 33 / 1);
    --card: #373d43;
    --block: #26292c;
    --block-border: #383d42;
    --block-hover: #2f3337;
    --text-p0: #fff;
    --text-p1: #ccc;
    --text-p2: #b3b3b3;
    --text-p3: #858585;
    --text-p4: #707070;
    --text-meta: #4d4d4d;
    --text-code: #ff6333;
    --alpha20: rgba(0,0,0,0.2);
    --alpha50: rgba(0,0,0,0.5);
    --alpha60: rgba(0,0,0,0.6);
    --alpha100: #000;
}

@media screen and (max-width: 667px) {
    #ZYDark:root {
        --site-bg: #000;
    }
}

#ZYDark:root {
    --blur-bg: rgba(0, 0, 0, 0.5);
}

#ZYDark .float-panel {
    --blur-bg: rgba(0, 0, 0, 0.4);
}

#ZYDark .tag-plugin.tag {
    --theme: #ff6333;
    --theme-bg1: #3d1e14;
    --theme-bg2: #2f2522;
    --theme-border: #5c2d1f;
    --text-p0: #ffc4b3;
    --text-p1: #dfae9f;
    --text-p2: #f1997e;
}

#ZYDark .tag-plugin.tag {
    --theme:#1cd0fd;
    --theme-border: #1f505c;
    --theme-block: #222d2f;
    --theme-codeblock: #283133;
    --text-p0: #b3f0ff;
    --text-p1: #9fd2df;
    --text-p2: #7edaf1
}

#ZYDark .colorful[color=red] {
    --theme: #f44336;
    --theme-border: #5c231f;
    --theme-block: #2f2322;
    --theme-codeblock: #332928;
    --text-p0: #ffb8b3;
    --text-p1: #dfa49f;
    --text-p2: #f1867e
}

#ZYDark .colorful[color=orange] {
    --theme: #fa6400;
    --theme-border: #5c371f;
    --theme-block: #2f2722;
    --theme-codeblock: #332d28;
    --text-p0: #ffd1b3;
    --text-p1: #dfb99f;
    --text-p2: #f1ac7e
}

#ZYDark .colorful[color=yellow] {
    --theme: #ffbd2b;
    --theme-border: #5c491f;
    --theme-block: #2f2b22;
    --theme-codeblock: #333028;
    --text-p0: #ffe7b3;
    --text-p1: #dfcb9f;
    --text-p2: #f1cd7e
}

#ZYDark .colorful[color=green] {
    --theme: #3dc550;
    --theme-border: #1f5c27;
    --theme-block: #222f24;
    --theme-codeblock: #28332a;
    --text-p0: #b3ffbd;
    --text-p1: #9fdfa8;
    --text-p2: #7ef18e
}

#ZYDark .colorful[color=cyan] {
    --theme: #1bcdfc;
    --theme-border: #1f4f5c;
    --theme-block: #222d2f;
    --theme-codeblock: #283133;
    --text-p0: #b3efff;
    --text-p1: #9fd2df;
    --text-p2: #7ed9f1
}

#ZYDark .colorful[color=blue] {
    --theme: #2196f3;
    --theme-border: #1f415c;
    --theme-block: #222a2f;
    --theme-codeblock: #282f33;
    --text-p0: #b3ddff;
    --text-p1: #9fc3df;
    --text-p2: #7ebef1
}

#ZYDark .colorful[color=purple] {
    --theme: #9c27b0;
    --theme-border: #531f5c;
    --theme-block: #2d222f;
    --theme-codeblock: #322833;
    --text-p0: #f4b3ff;
    --text-p1: #d69fdf;
    --text-p2: #e07ef1
}

#ZYDark .colorful[color=light] {
    --theme-border: #fff;
    --theme-block: #fff;
    --text-p0: #000;
    --text-p1: #111;
    --text-p2: #1f1f1f;
    --text-p3: #555;
    --text-code: #fff
}

#ZYDark .colorful[color=dark] {
    --theme-border: #000;
    --theme-block: #111;
    --text-p0: #fff;
    --text-p1: #fff;
    --text-p2: #e0e0e0;
    --text-p3: #ddd;
    --text-code: #fff
}

#ZYDark .colorful[color=light],
#ZYDark .colorful[color=warning] {
    --text-p0: #000;
    --text-p1: #111;
    --text-p2: #1f1f1f;
    --text-p3: #555;
    --text-code: #fff
}

#ZYDark .social-wrap a.social:hover {
    box-shadow: none;
}

/* waline评论样式 */
#ZYDark .wl-count {
    padding: .375em;
    font-weight: bold;
    font-size: 1.25em;
    color: #fff;
}

#ZYDark .cmt-body.waline {
    /* 主题色 */
    /*--waline-theme-color: #27ae60;*/
    /*--waline-active-color: #2ecc71;*/

    --waline-white: #000 !important;
    --waline-light-grey: #666 !important;
    --waline-dark-grey: #999 !important;
    /* 布局颜色 */

    --waline-color: #fff !important;
    --waline-bg-color: var(--block) !important;
    --waline-bg-color-light: #272727 !important;
    --waline-border-color: #333 !important;
    --waline-disable-bgcolor: #444 !important;
    --waline-disable-color: #272727 !important;
    --waline-info-bg-color: #272727 !important;
    /* 特殊颜色 */
    --waline-bq-color: #272727 !important;
    /* 其他颜色 */
    --waline-info-bgcolor: #272727 !important;
    --waline-info-color: #666 !important;
}
#ZYDark embed.timetmpl_netease {
    filter: brightness(0.6) grayscale(0.3) !important;
}
@media screen and (max-width: 667px) {
    .timetmpl_mobile_star{
        justify-content: flex-start !important;
    }
    .timetmpl_mobile_end{
        justify-content: flex-end !important;
    }
    .timetmpl_mobile_center{
        justify-content: center !important;
    }
    .timetmpl_mobile{
        display: none !important;
    }
    .timetmpl_meta{
        display: none !important;
    }
}