/*鼠标样式*/
body {
    cursor: url('https://upyun.thatcdn.cn/public/cur/yiwei/S1.cur'), auto;
}

a, [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: url('https://upyun.thatcdn.cn/public/cur/yiwei/S2.cur'), auto !important
}

/*背景笼罩层*/
body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/custom/img/noise.png");
    position: fixed;
    z-index: 10;
    opacity: .036;
    pointer-events: none;
    touch-action: none;
}

/*右侧时间线堵塞*/
.widget-wrapper.timeline .tag-plugin.timeline .timenode .body{
    margin-left: 1rem;
}

/*@font-face{*/
/*    font-family: "LXGW";*/
/*    src: url("/custom/font/LXGWB.ttf");*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/
