/*鼠标样式*/
body {
    cursor: url('https://upyun.thatcdn.cn/public/cur/yiwei/S1.cur'), auto;
}

a, [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: url('https://upyun.thatcdn.cn/public/cur/yiwei/S2.cur'), auto !important
}

html{
    scrollbar-color: #bbbbbbc2 #00000000;
}
nav {
    overflow: auto auto !important;
}

/*背景笼罩层*/
body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/custom/img/noise.png");
    position: fixed;
    z-index: 10;
    opacity: .036;
    pointer-events: none;
    touch-action: none;
}

/*右侧时间线堵塞*/
.widget-wrapper.timeline .tag-plugin.timeline .timenode .body{
    margin-left: 1rem;
}
.md-text.content h2 a.headerlink:before {
    content: 'H2';
    padding: 0.2rem;
    color: var(--text-p1);
}
.md-text.content h3 a.headerlink:before {
    content: 'H3';
    padding: 0.18rem;
    margin-right: 0.26rem;
    color: var(--text-p1);
}
.md-text.content h4 a.headerlink:before {
    content: 'H4';
    padding: 0.16rem;
    margin-right: 0.32rem;
    color: var(--text-p1);
}
.md-text.content h5 a.headerlink:before {
    content: 'H5';
    padding: 0.14rem;
    margin-right: 0.38rem;
    color: var(--text-p1);
}
.md-text.content h6 a.headerlink:before {
    content: 'H6';
    padding: 0.12rem;
    margin-right: 0.44rem;
    color: var(--text-p1);
}
.md-text.content a.headerlink {
    background: none;
}

.widget-wrapper.toc .toc a.active:before {
    content: '🌸' !important;
    width: 4px;
    background: none;
    left: -0.8rem;
}
.widget-wrapper.toc .toc a{
    margin-left: 0.8rem;
}
.widget-wrapper.toc .toc a.toc-link.active {
    margin-left: 0.9rem;
}
.widget-wrapper.toc .widget-body:before {
    margin-left: 0.5rem;
}

.tag-plugin.tabs .nav-tabs {
    overflow: auto visible !important;
}

/*字体定义*/

/*@font-face{*/
/*    font-family: "LXGW";*/
/*    src: url("/custom/font/LXGWB.ttf");*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://public.thatcdn.cn/font/jetBrains_mono/origin/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/** {*/
/*    font-family: KingHwaOldSong, system-ui, "Microsoft Yahei", "Segoe UI", -apple-system, Roboto, Ubuntu, "Helvetica Neue", Arial, "WenQuanYi Micro Hei", sans-serif !important;*/
/*}*/

/* 设置所有标题使用老宋体 */
.page-footer, h1, h2, h3, h4, h5, h6 {
    font-family: KingHwaOldSong, "JetBrains Mono", system-ui, "Microsoft Yahei", "Segoe UI", -apple-system, Roboto, Ubuntu, "Helvetica Neue", Arial, "WenQuanYi Micro Hei", sans-serif !important;
}


